<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <activeProfiles>
        <activeProfile>general</activeProfile>
    </activeProfiles>

    <profiles>
        <profile>
            <id>general</id>
            <repositories>
                <repository>
                    <id>central</id>
                    <url>https://repo1.maven.org/maven2</url>
                </repository>
                <repository>
                    <id>spring-secret-manager-suite</id>
                    <url>https://maven.pkg.github.com/felipemenezesdm/spring-secret-manager-suite</url>
                </repository>
            </repositories>
        </profile>
    </profiles>

    <servers>
        <server>
            <id>github</id>
            <username>${repo.usrnm}</username>
            <password>${repo.pswd}</password>
        </server>
    </servers>
</settings>